# Ignore CSV files in the current working directory containing personal Secret
# Santa data
/*.csv

# However, keep the Secret Santa template CSV
!.gitignore
!templates/

# Temporary GIF files from GIPHY
*.gif
